.cabecalho-titulo {
  text-align: center;
}

.lobo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0%;
  cursor: pointer
}


.container {
  display: flex;
  gap: 0; 
}



.retangulo {
  background: orange;
  width: 200px;
  height: 500px;
  position: absolute;
  top: 35%;
  left: 40%;
  margin: -150px 0 0 -50px;
}

.quadrado {
  position: absolute;
  width: 12%;
  height: 20%;
  top: 35.5%;
  left: 39.7%;
  margin: -100px 0 0 -100px;
}

.imagem {
  position: absolute;
  width: 12%;
  height: 20%;
  top: 35%;
  left: 40%;
  margin: -100px 0 0 -100px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.texto {
  position: absolute;
  top: 45%;
  left: 63.6%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  width: 31%;
  line-height: 35px;

}

.botao {
  margin-top: 20px;
}

.texto button {
  width: 30%;
}

.texto button:hover {
  background-color: red;
}

.ponteiro {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50; 
  color: white; 
  border-radius: 5px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px;
  transition-duration: 0.4s; 
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.ponteiro:hover {
  background-color: #45a049;
  color: white;
}

.fundo-cinza {
  background-color: #ccc;
  padding: 40px;  
}

#sei {
  display: block;
}

#segredo {
  display: none;
}

.chat {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 90%;
  left: 90%;
  cursor: pointer
}

